

.techImg{
    height:60px;
    width: 60px;
    border-radius: 10px;
    background: rgb(229, 223, 223);
    margin: 1rem;
    cursor: pointer;
    z-index: 0.5;
    transition: transform 0.3s ease-in;
}
.techImg:hover{
    z-index: 3.5;
    transform: scale(1.2);
}

  .first-line{
    margin-top: 4px;
    margin-bottom: 2px;
    width: 90%;
    height: 2px;
    background-color: rgb(122, 118, 118);
  }


#tech-skill{
 margin: 0 auto;
 min-height: calc(100vh - 4rem);
 width: 100vw;
 max-width: 60rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding :0 1rem;
}

.tech-title{
    margin: 2rem 0;
    font-size: 3rem;
}

.techDesc{
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
    max-width: 45rem;
}
.techImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 30rem;
}
.tech-btn{
 padding: 0.5rem 2.5rem;
 background: #fff;
 color: #000;
 border-radius: 7px;
 outline: none;
 text-decoration: none;
 border: none;
 cursor: pointer;
 font-size: 14px;
 font-weight: bolder;
 margin: 0.5rem 0;
 transition: background 0.3s ease-in-out;
}
.tech-btn:hover{
    background: #ff004f;
    color: rgb(30, 30, 30);
}
.tech1{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.imgText{
    font-weight: bolder;
    font-size: 13px;
    color:#fff;
    display: flex;
    justify-content: center;
    
}
@media screen and (max-width:585px){

    .techImgs{
        height: 48vw;
        margin-left: 33px;
    }
    .techDesc{
        margin-left: 59px;
    }
    .tech-btn{
        margin-top: 480px;
    }
}